.wpage{
    margin-top: 100px;
    display: grid;
    justify-content: center;
    color: white;
    overflow: hidden;
}

.wpage p{
    font-size: 3vw;
    text-align: center;
}

.tittle{
    font-size: 4vw;
    text-align: center;
}

@media screen and (max-width:500px) {
    .tittle{
        font-size: 8vw;
    }
  }

.button{
    margin-top: 50px;
    font-size: 5em;
    cursor: pointer;
    background-color: rgba(100, 227, 227, 0.435);
}

.all{
    background: rgb(55,97,168);
    background: linear-gradient(180deg, rgba(55,97,168,1) 37%, rgba(255,255,255,0.5186449579831933) 100%);
}
.alternatives{
    height: 100px;
    width: 200px;
    background-color: rgb(166, 204, 204);
    cursor: pointer;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: 1s;
    border: none;
    font-size: 2em;
    margin: 5px;
}

.alternatives:hover{
    transition: 1s;
    background-color: aqua;
    margin: 0.5px;
}

.alternatives_container{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(2,0.5fr);
}

.pokephoto{
    height: 280px;
    margin: 20px;
    display: flex;
    padding-left: 4em;
}

.result{
    color: black;
    margin: auto;
    font-size: 2em;
    display: grid;
}

.playAgain{
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    height: 44px;
    color: black;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.5s;
    height: 90px;
    font-size: 1em;
}

.playAgain:hover{
    background-color: #00ecff;
    transition: 0.5s;
    border-radius: 15px;
    align-items: center;
    font-size: 1.5em;
}