
.page{
    display: grid;
    grid-template-columns: 200px, 200px;
    background: rgb(55,97,168);
    background: linear-gradient(180deg, rgba(55,97,168,1) 37%, rgba(255,255,255,0.5186449579831933) 100%);
}

.pokemon_infos{
    width: 500px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0px auto;
    margin-top: 50px;
}

.header{
    padding-top: 40px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.header h1{
    padding-bottom: 10px;
    font-size: 5em;
    color: white;
}

.header img{
    width: 200px;
    height: 200px;
}

.images{
    background-color: rgb(176, 175, 175);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: grid;
}

.image_container{
    padding-bottom: 2em;
}

.characteristics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.characteristics h3{
    margin: 20px;
    font-size: 2em;
}

.abilities{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 2em;
    margin: 15px;
}