* {
  margin: 0px;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(55,97,168,1);
  font-size: 20px;
  color: white;
}

.navbar-img {
  width: 160px;
}

.searchbar-container {
  display: flex;
  margin: 0px auto;
  padding: 0 20px;
  padding-top: 20px;
  align-items: center;
  transition: 1s;
}

.favorites_button {
  margin-left: 20px;
}

.searchbar-container :hover {
  transition: 1s;
}

.searchbar {
  background-color: white;
  margin-right: 10px;
}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  background-color: rgba(220, 220, 220, 0.7);
}

.searchbar-btn button {
  border-radius: 10px;
  border: none;
  height: 44px;
  color: black;
  padding: 10px 10px;
  cursor: pointer;
}

.searchbar-btn button:hover {
  background-color: #00ecff;
  color: white;
  transition: 0.5s;
  border-radius: 15px;
  align-items: center;
}

.searchbar-btn button {
  transition: 1s;
  border-radius: 10px;
}

.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}

​ .fonte {
  color: white;
}

.pokedex-grid {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
  grid-template-columns: repeat(2, 2fr);
  transition: 1s;
  transform: translate(0%, 2%);
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pokemon-card {
  display: flex;
  color: white;
  position: relative;
  border-radius: 3px;
  background-color: rgba(220, 220, 220, 0.7);
  align-items: center;
  transition: 0.5s;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: rgb(0,87,198);
  background: linear-gradient(302deg, rgba(0,87,198,0.24413515406162467) 29%, rgba(25,233,213,0.4009978991596639) 61%);
}



.pokemon-card:hover {
  transform: translate(0.5%, -2%);
  border-radius: 10px;
  margin: -10px;
  padding-top: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(176, 175, 175);
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.pokemon-image-container {
  padding: 0px 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
  font: bold;
  color: white;
  text-decoration: none;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 2px;
  padding: 8px;
  text-transform: capitalize;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.4);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-number {
  border: none;
  color: white;
  background-color: rgba(220, 220, 220, 0.0);
  width: 40px;
  text-align: center;
}

.pokemon-heart-btn {
  border: none;
  color: white;
  background-color: #0e6f9f;
  padding: 4px;
  cursor: pointer;
  align-items: center;
}

.pokemon-heart-btn:hover {
  padding: 9px;
  transition: 0.5s;
}

.pokemon-heart-btn {
  padding: 4px;
  transition: 0.5s;
}

.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}

.loading img {
  color: #0e6f9f;
  align-items: center;
  margin: 0px auto;
}

.grass-type {
  background-color: #7cc650;
}

.poison-type {
  background-color: #9a3d9a;
}

.fire-type {
  background-color: #ef8030;
}

.flying-type {
  background-color: #9b85cd;
}

.water-type {
  background-color: #6891f2;
}

.bug-type {
  background-color: #a8b71f;
}

.normal-type {
  background-color: #aaa97b;
}

.electric-type {
  background-color: #f5d135;
}

.ground-type {
  background-color: #ccae5a;
}

.fairy-type {
  background-color: #d69cd6;
}

.fighting-type {
  background-color: #bf3027;
}

.psychic-type {
  background-color: #f55f8a;
}

.rock-type {
  background-color: #b6a038;
}

.steel-type {
  background-color: #b7b7d0;
}

.ice-type {
  background-color: #97d7d7;
}

.ghost-type {
  background-color: #76609e;
}

.dragon-type {
  background-color: #4b339c;
}

.dark-type {
  background-color: #6f5847;
}

.App {
  text-align: center;
}

@media screen and (max-width:600px){
  .pokedex-grid{
    flex-direction: column;
    grid-template-columns: repeat(1, 2fr);
  }
}

@media screen and (min-width:805px){
  .pokedex-grid{
    flex-direction: column;
    grid-template-columns: repeat(3, 2fr);
  }
}

.tracking-in-expand{-webkit-animation:tracking-in-expand 1s cubic-bezier(.215,.61,.355,1.000);animation:tracking-in-expand 1s cubic-bezier(.215,.61,.355,1.000)}
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

.all-pages{
  background: rgb(55,97,168);
  background: linear-gradient(180deg, rgba(55,97,168,1) 37%, rgba(255,255,255,0.5186449579831933) 100%);
}